= content_for(:javascripts) do
  javascript:
    var taxonomies = new GopherApi.Collections.Taxonomies
    taxonomies.fetch({
      data: { token: GopherApi.Config.token },
      success: function(response) {
        var reactTaxonomy = React.createElement(TaxonomiesSection, { collection: taxonomies });
        React.render(reactTaxonomy, document.getElementsByClassName('sidebar')[0]);
      }
    });

    var products = new GopherApi.Collections.Products
    products.fetch({
      data: { token: GopherApi.Config.token },
      success: function(response) {
        var reactProduct = React.createElement(ProductsSection, { collection: products });
        React.render(reactProduct, document.getElementById('content'));
      }
    });

