= content_for(:javascripts) do
  javascript:
    var taxonomiesUrl = 'http://localhost:5000/api/taxonomies?token=d89ffcec5c8adfc0992c58968f5efa14bab1ee5d3c3f625e';
    var reactTaxonomy = React.createElement(TaxonomiesSection, { url: taxonomiesUrl });
    React.render(reactTaxonomy, document.getElementById('taxonomies-list'))

    var productsUrl = 'http://localhost:5000/api/products?token=d89ffcec5c8adfc0992c58968f5efa14bab1ee5d3c3f625e';
    var reactProduct = React.createElement(ProductsSection, { url: productsUrl });
    React.render(reactProduct, document.getElementById('content'));
